<!--  Product Reviews List -->
<form ng-controller="VoteController as reviewCtrl1" ng-submit="reviewCtrl1.addReview1(product)">

<div>
	<a href="#" style="width:50px;height:40px" data-tooltip="click to like this book!" class="btn btn-info btn-lg" ng-click="like(product)"> <span class="glyphicon glyphicon-thumbs-up"></span> </a>
	<a href="#" style="width:50px;height:40px" data-tooltip="click to dislike this book!" class="btn btn-info btn-lg" ng-click="dislike(product)"> <span class="glyphicon glyphicon-thumbs-down"></span> </a>
</div>

</form>

